* {
	background: black;
	color: #00CC00;	
	font-family: Consolas;
	padding: 15px;
}

.content {
	width: 600px;
	margin: 0 auto;
	border: 1px solid white;
	overflow: auto;
	text-align: justify;
}

h1 {
	text-align: center;
}